<!-- App header starts -->
<div class="app-header d-flex align-items-center">

  <!-- Toggle buttons start -->
  <div class="d-flex">
    <button class="btn btn-outline-primary me-2 toggle-sidebar" id="toggle-sidebar">
      <i class="bi bi-list fs-5"></i>
    </button>
    <button class="btn btn-outline-primary me-2 pin-sidebar" id="pin-sidebar">
      <i class="bi bi-list fs-5"></i>
    </button>
  </div>
  <!-- Toggle buttons end -->

  <!-- App brand sm start -->
  <div class="app-brand-sm d-md-none d-sm-block">
    <a href="index.html">
      <img src="assets/logo/logo.png" class="logo" alt="Bootstrap Gallery">
    </a>
  </div>
  <!-- App brand sm end -->

  <!-- Breadcrumb start -->
  <ol class="breadcrumb d-none d-lg-flex ms-3">
    <li class="breadcrumb-item">
      <i class="bi bi-house lh-1"></i>
      <a href="/" class="text-decoration-none">Home</a>
    </li>
    <li class="breadcrumb-item text-secondary">Dashboard</li>
  </ol>
  <!-- Breadcrumb end -->

  <!-- App header actions start -->
  <div class="header-actions">
    <div class="dropdown ms-2">
      <a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center text-decoration-none"
         href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img *ngIf="currentUser.profilePath" [src]="FileUtility.getImageUrl(currentUser.profilePath)" src="assets/images/user.png" class="rounded-2 img-3x" alt="Bootstrap Gallery" />
        <img *ngIf="!currentUser.profilePath"  src="assets/images/user.png" class="rounded-2 img-3x" alt="Bootstrap Gallery" />
      </a>
      <div class="dropdown-menu dropdown-menu-end shadow-sm">
        <div class="p-3 border-bottom mb-2">
          <h6 class="mb-1">{{currentUser.lastName}} {{ currentUser.firstName }}</h6>
        </div>
        <a class="dropdown-item d-flex align-items-center" (click)="profil()">
          <i class="bi bi-person fs-4 me-2"></i>Profile
        </a>
        <a class="dropdown-item d-flex align-items-center" href="settings.html">
          <i class="bi bi-gear fs-4 me-2"></i>Settings
        </a>
        <div class="d-grid p-3 py-2">
          <button class="btn btn-danger" (click)="logout()">
            <i class="bi bi-box-arrow-right me-2"></i>Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- App header actions end -->

</div>
<!-- App header ends -->
