<div class="container my-4">
  <div class="row">
    <!-- Profile picture -->
    <div class="col-md-4 text-center">
      <div class="profile-user position-relative d-inline-block mx-auto mb-4">
        <!-- Profile Image avec gestion dynamique du logo -->
        <img
          [src]="FileUtility.getImageUrl(formGroup.value?.profilePath)"
          alt="Logo entreprise"
          class="rounded-circle avatar-xl img-thumbnail user-profile-image shadow"
          style="width: 150px; height: 150px; object-fit: cover;" />

        <!-- Camera Icon Overlay - Style identique au school component -->
        <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
          <input
            id="logo-img-file-input"
            type="file"
            class="profile-img-file-input"
            accept="image/png, image/jpeg, image/jpg"
            (change)="onLogoSelected($event)"
            hidden
          />
          <label
            for="logo-img-file-input"
            class="profile-photo-edit avatar-xs"
            style="cursor: pointer;"
          >
                <span class="avatar-title rounded-circle bg-light text-body shadow">
                  <i class="ri-camera-fill" title="Changer le logo"></i>
                </span>
          </label>
        </div>
      </div>
    </div>


    <!-- User information -->
    <div class="col-md-8">
      <div class="card p-3">
        <h5 class="mb-3">Informations de l'utilisateur</h5>
        <ul class="list-unstyled">
          <li><strong>Nom :</strong> {{currentUser.lastName}}</li>
          <li><strong>Prénom :</strong> {{currentUser.firstName}}</li>
          <li><strong>Email :</strong> {{currentUser.email}}</li>
          <li><strong>Compagnie :</strong> {{currentUser.company.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
