<div class="modal fade" id="addContact" tabindex="-1" aria-labelledby="addContactLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addContactLabel">
          Add Contact
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12 col-12">
            <div class="row">
              <div class="col-6">
                <!-- Form Field Start -->
                <div class="mb-3">
                  <label for="fullName" class="form-label">Full Name</label>
                  <input type="text" class="form-control" id="fullName" placeholder="Full Name" />
                </div>
              </div>
              <div class="col-6">
                <!-- Form Field Start -->
                <div class="mb-3">
                  <label for="emailID" class="form-label">Email</label>
                  <input type="email" class="form-control" id="emailID" placeholder="Email ID" />
                </div>
              </div>
              <div class="col-6">
                <!-- Form Field Start -->
                <div class="mb-3">
                  <label for="contactNumber" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="contactNumber"
                         placeholder="Contact" />
                </div>
              </div>
              <div class="col-6">
                <!-- Form Field Start -->
                <div class="mb-3">
                  <label for="companyName" class="form-label">Company</label>
                  <input type="text" class="form-control" id="companyName"
                         placeholder="Company" />
                </div>
              </div>
              <div class="col-6">
                <!-- Form Field Start -->
                <div class="mb-3">
                  <label for="designationName" class="form-label">Designation</label>
                  <input type="text" class="form-control" id="designationName"
                         placeholder="Designation" />
                </div>
              </div>
              <div class="col-6">
                <!-- Form Field Start -->
                <div class="mb-3">
                  <label for="locationName" class="form-label">Location</label>
                  <input type="text" class="form-control" id="locationName"
                         placeholder="Location" />
                </div>
              </div>
              <div class="col-12">
                <!-- Form Field Start -->
                <div class="mb-3">
                  <label class="form-label">Message</label>
                  <textarea class="form-control" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">
          Create Contact
        </button>
      </div>
    </div>
  </div>
</div>
